* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(221, 221, 250);
    /* height: 100vh; */
    width: 100%;
}

.content-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.total-budget-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    width: 500px;
    border-radius: 5px;
    background-color: white;
}

.remaining-budget,
.total-budget,
.expense-budget {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    gap: 5px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(78, 247, 89, 0.8);
}

.budget-input {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 5px;
}

.input-budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(2, 251, 19, 0);
    padding: 1rem;
    border-radius: 20px;
    width: 50%;
    gap: 8px;
    background-color: rgba(0, 133, 250, 0.448);
}

.input-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(2, 251, 19, 0);
    padding: 1rem;
    border-radius: 20px;
    width: 50%;
    gap: 8px;
    background-color: rgba(0, 133, 250, 0.448);


}

#inputBudget {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#Category {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#budgetBtn {
    background-color: rgb(147, 249, 153);
    border: none;
    padding: 8px;
    width: 90px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#categoryBtn {
    background-color: rgb(147, 249, 153);
    border: none;
    padding: 8px;
    width: 90px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.select-item-box {
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(2, 133, 248);
    padding: 10px;
    gap: 5px;
}

#inputAmount {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 1.5px solid rgba(0, 133, 250, 0.752);
}

#selectItem {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 1.5px solid rgba(0, 133, 250, 0.752);
}

#optionValue {
    background-color: rgb(147, 249, 153);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dateData {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 1.5px solid rgba(0, 133, 250, 0.752);
}

#amountBtn {
    background-color: rgba(78, 247, 89, 0.8);
    border: none;
    padding: 8px;
    width: 90px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.budget-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid rgb(0, 133, 250);
    width: 100%;
}

table {
    border-collapse: collapse;
    background-color: rgba(0, 255, 30, 0.154);
}

th,
td {
    border-bottom: 1px solid rgba(0, 133, 250, 0.992);
    padding: 5px;
    text-align: center;
    width: 100%;
}

tr:hover {
    background-color: rgba(104, 249, 114, 0.507);
}

th {
    border: 2px solid rgb(65, 223, 76);
    padding: 0 21px;
    text-align: center;
    font-weight: 500;
    width: 100%;
    background-color: rgba(78, 247, 89, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.updateModal {
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.37);
    top: 30%;
    padding: 20px;
    scale: 0;
    transition: all 0.5s ease-in;

}

.display {
    scale: 1;
}

#ubtn {
    background-color: green;
    border: none;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#delete {
    background-color: red;
    border: none;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#x {
    cursor: pointer;
    text-align: end;
    color: rgb(254, 254, 254);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}